/* General Styles */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f9f9f9;
    color: #333;
}

h1 {
    text-align: center;
    color: #fff;
    padding: 20px;
    background-color: rgba(238, 33, 33, 0.816);
    margin: 0;
}

nav {
    display: flex;
    justify-content: center;
    margin: 20px 0;
}

button {
    margin: 0 10px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    background-color: rgba(238, 33, 33, 0.816);
    color: white;
    border: none;
    border-radius: 5px;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #c82333;
}

button i {
    margin-right: 8px;
    font-size: 16px;
}

/* Table Styles */
table {
    width: 100%;
    border-collapse: collapse;
    margin: 20px 0;
}

table, th, td {
    border: 1px solid #ddd;
}

th, td {
    padding: 12px;
    text-align: left;
}

th {
    background-color: #f4f4f4;
}

tr:nth-child(even) {
    background-color: #f9f9f9;
}

tr:hover {
    background-color: #f1f1f1;
}

/* Section Styles */
.section {
    padding: 20px;
    margin: 20px auto;
    max-width: 800px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
}

.hidden {
    display: none;
}

/* Form Styles */
form {
    display: flex;
    flex-direction: column;
}

form input, form button {
    margin-bottom: 15px;
    padding: 12px;
    border: 1px solid #ddd;
    border-radius: 5px;
}

form input:focus, form button:focus {
    outline: none;
    border-color: rgba(238, 33, 33, 0.816);
    box-shadow: 0 0 5px rgba(220, 53, 69, 0.3);
}

form button {
    background-color: rgba(238, 33, 33, 0.816);
    color: white;
    border: none;
    cursor: pointer;
    font-size: 16px;
}

form button i {
    margin-right: 8px;
}

form button:hover {
    background-color: #c82333;
}

