/* src/components/Header.css */
.header {
    background-color: #282c34;
    padding: 20px;
    color: white;
    text-align: center;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1000;
}
